<html>
<head>
<script>

// 1. Describe all possible states:
//   Player names, Win loss record, current choices of rock, paper or scissors, for current game.
   var RPSState = {}
   var RPS_PROMPT = "Rock, Paper, or Scissors?";
 
// 2. Describe Initial state value
   var InitRPSState = {
     players: [
       {name: "Player 1", wins: 0, losses: 0, currentChoice: null},
       {name: "Player 2", wins: 0, losses: 0, currentChoice: null},
    ],
    ties: 0,
    choices: ["rock", "paper", "scissors"],
    choiceNames: {"rock": 0, "paper": 1, "scissors": 2},
   }

// 3. Handle everything that can change the state.
//    Initialize Players / Player Input / Bot Choice / Game Logic
   window.addEventListener("load", init);
   function init(){
     //testAsyncBuiltins();
     playerInit(InitRPSState, function(result){
        RPSState = result;
        playLoop(RPSState);
     });
   }
   function playerInit(initState, next){
     var state = JSON.parse(JSON.stringify(initState));
     promptAsync("What is your name?", function(input){
        state.players[0].name = input;
        promptAsync("What is the bot's name?", function(input){
            state.players[1].name = input;
            next(state);
        })
    })
   }
   function playLoop(state){
      var playerChoiceIndex = undefined;
      promptAsync(RPS_PROMPT, function(input){
        var playerChoiceIndex = playerInput(state.choiceNames, input);
        if(playerChoiceIndex === undefined){
           playLoop(state);
        } else {
           state.players[0].currentChoice = playerChoiceIndex;
           state.players[1].currentChoice = botChoice();
           applyGameLogic(state);
           displayState(state, function(){
               promptContinue();
           })
         }
      })
      function promptContinue(){
          confirmAsync("Continue Playing?", function(input){
                 playLoop(state); // keep playing
              }, function(){
                 alertAsync("Thanks for playing!"); // end game
              }
          )
      }
   }
   function botChoice(){
      return Math.floor(3 * Math.random()); // 0, 1, or 2.
   }
   function applyGameLogic(state){
      var winner = null;
      var loser = null
      var a = state.players[0].currentChoice;
      var b = state.players[1].currentChoice;
      var diff = (a - b);
      // diff mod 3
      if(diff >= 3) diff -= 3;
      if(diff < 0) diff += 3;
      if(diff == 0) winner = null;
      else if(diff == 1) winner = 0, loser = 1;
      else if(diff == 2) winner = 1, loser = 0;
      if(winner !== null){
        ++state.players[winner].wins;
        ++state.players[loser].losses;
      }
      else{
        ++state.ties;
      }
   }
   function playerInput(names, value){
     value = value.toLowerCase();

     // check if valid choice
     if(!(value in names)) return undefined;

     // return index of player choice
     return names[value];
   }


// 4. display state to user.
   function displayState(state, next){
      var str = "";
      var choices = state.choices;
      console.log('state, choices', state, choices);
      var playerChoice = state.players[0].currentChoice;
      var botChoice = state.players[1].currentChoice;
      if(playerChoice != null){
           str += state.players[0].name + "'s Choice: " + choices[playerChoice] + "\n";
           str += state.players[1].name + "'s Choice: " + choices[botChoice] + "\n";
      }
      str += state.players[0].name + " Wins: " + state.players[0].wins + "\n";
      str += state.players[1].name + " Wins: " + state.players[1].wins + "\n";
      str += "Ties: " + state.ties;
      alertAsync(str, next);
   }
   // Example of how to use async replacements
    function testAsyncBuiltins(){
        console.log("test async builtins called.");
        promptAsync("What is your name?", function(name){
                alertAsync("Hello, " + name, function(){
                    console.log("all done"); 
                })
            }, function(){
                alertAsync("Nevermind.");
            }
        )
    }
    // dialog templates
    var alert_html =
        "<div><p><pre>{{message}}</pre></p>" + 
        "<button onclick='alertFinish();'>Ok</button>" +
        "</div>";

    var prompt_html =
        "<div><p><pre>{{message}}</pre></p>" +
        "<input type='text' id='prompt_input' onkeypress='if(event.keyCode == 13) promptFinish();'></input><br>" +
        "<button onclick='promptFinish()'>Ok</button>" +
        "<button onclick='promptCancel()'>Cancel</button>" +
        "</div>";

    var confirm_html =
        "<div><p><pre>{{message}}</pre></p>" +
        "<button onclick='confirmFinish()'>Ok</button>" +
        "<button onclick='confirmCancel()'>Cancel</button>" +
        "</div>";

        // example of how to use the template
        // note this is insecure as the html is not escaped.
        // document.body.innerHTML = alert_html.replace("{{message}}", "custom message goes here");
    // store prompt or alert callbacks in these variables
    var alert_next;
    var prompt_next;
    var prompt_cancel;
    var confirm_next;
    var confirm_cancel;

    function alertAsync(message, next){
        alert_next = next;
        document.body.innerHTML = alert_html.replace("{{message}}", message);
        // create a dialog style message
        // and then call next()
    }
    function promptAsync(message, next, cancel){
        // create UI elements to get an input from the user,
        // and call next(input), when they click done.
        prompt_next = next;
        prompt_cancel = cancel;
        document.body.innerHTML = prompt_html.replace("{{message}}", message);
        document.getElementById("prompt_input").focus();
    }
    function confirmAsync(message, next, cancel){
        confirm_next = next;
        confirm_cancel = cancel;
        document.body.innerHTML = confirm_html.replace("{{message}}", message);
    }
        
    function alertFinish(){
        document.body.innerHTML = "";
        // called when alert is finished.
        if(alert_next) alert_next();
    }
    function promptFinish(){
        // okay was clicked.
        var input = document.getElementById("prompt_input"); 
        var text = input? input.value : "";
        document.body.innerHTML = "";
        prompt_next(text);
    }
    function promptCancel(){
        // cancel was clicked.
        if(prompt_cancel){ // only cancel if it does something.
            document.body.innerHTML = "";
            prompt_cancel();
        }
    }
    function confirmFinish(){
        document.body.innerHTML = "";
        if(confirm_next) confirm_next();
    }
    function confirmCancel(){
        if(confirm_cancel) confirm_cancel();
    }
        
</script>
<style> * { font-family: sans-serif; } </style>
</head>
<body>
<h1> Rock, Paper, Scissors</h1>
</body>
</html>
